<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col" style="padding: 10px;">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto"> <!-- Added mr-auto class to push the text to the left -->
                <li class="nav-item active">
                    <a class="nav-link" href="#">Mağaza Bul</a>
                </li>
            </ul>
            <a class="navbar-brand mx-auto" href="#"> <!-- Added mx-auto class to center the logo -->
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/H%26M-Logo.svg/1280px-H%26M-Logo.svg.png"
                     alt="sad" width="60px">
            </a>
        </div>


        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <div class="">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Kadın</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Erkek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Divided</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Bebek</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Çocuk</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">H&M HOME</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Spor</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">İndirim</a>
                    </li>
                </ul>
            </div>

            <input class="" placeholder="Ürün Ara" autocomplete="off" role="combobox"
                   autocapitalize="none"
                   aria-owns="searchbar-autocomplete" aria-controls="searchbar-autocomplete"
                   aria-autocomplete="list" aria-expanded="false" aria-label="Ürün ara" minlength="2"
                   maxlength="200" aria-required="false" type="search" tabindex="0" value/>
        </div>
    </div>

</nav>