<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    {% include "dependency.html" %}
    {% include "navbar.html" %}

</head>
<body>

<div class="container-fluid mt-4" style="background-color: #faf9f8 !important;">

    <div class="col my-4" style="background-color: #faf9f8 !important;">
        <div class="card" style="background-color: #faf9f8 !important;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <div>
                            <img src="{{ product.images[0].name }}" width="350px" height="450px"
                                 alt="desc" class="product-image">

                            <img src="{{ product.images[1].name }}" width="350px" height="450px"
                                 alt="desc" class="product-image">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="card-title">{{ product.name }}</h2>
                        <h3 class="price">{{ product.price * 2 }} TL</h3>
                        <p class="price-detail"> [2/{{ product.amount }}] adet | {{ product.price }} TL /adet</p>

                        <div class="mb-3" style="font-weight: 600">
                            {% for color in product.colors %}
                                {{ color.name }}
                                {% if loop.index - 1 !=  product.colors|length - 1 %}
                                    /
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="mb-3">
                            {% if product.colors|length == 1 %}
                                <img width="80" height="100px" src="{{ product.images[0].name }}" alt="">
                            {% else %}
                                <img width="80" height="100px" src="{{ product.images[0].name }}" alt="">
                                <img width="80" height="100px" src="{{ product.images[3].name }}" alt="">
                            {% endif %}
                        </div>
                        {% for size in product.sizes %}
                            <button class="size-btn btn btn-light">{{ size.name }}</button>
                        {% endfor %}

                        {% for size in non_size_list %}
                            <button class="size-btn-dis btn btn-light" disabled>{{ size }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>